# Base architecture, CPU, and general setup
CONFIG_WERROR=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_KERNEL_ZSTD=y
CONFIG_DEFAULT_HOSTNAME="gateway"
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_SMP=y
CONFIG_X86_X2APIC=y
CONFIG_MCORE2=y
CONFIG_NR_CPUS=16
CONFIG_HZ_1000=y
CONFIG_MICROCODE=y
CONFIG_X86_MSR=y
CONFIG_X86_CPUID=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_ZSTD=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_JUMP_LABEL=y
CONFIG_ACPI=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_RTC_CLASS=y
CONFIG_LTO_CLANG_FULL=y
