# Security and compiler hardening
CONFIG_STACKPROTECTOR=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_LTO_CLANG_FULL=y
CONFIG_CFI_CLANG=y
CONFIG_CFI_ICALL_NORMALIZE_INTEGERS=y
CONFIG_X86_KERNEL_IBT=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_VMAP_STACK=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_STRICT_DEVMEM=y
CONFIG_IO_STRICT_DEVMEM=y
